/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/Makefile
/Makefile.in
/TAGS
/_libs
/aclocal.m4
/autom4te.cache
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.lt
/config.status
/config.status.lineno
/config.sub
/configure
/configure.lineno
/depcomp
/docs/Makefile.in
/docs/reference/Makefile.in
/gdata/GData-0.0.gir
/gdata/GData-0.0.typelib
/gdata/gdata-enums.c
/gdata/gdata-enums.h
/gdata/gdata-marshal.c
/gdata/gdata-marshal.h
/gdata/libgdata.la
/gdata/media/gdata-media-enums.c
/gdata/media/gdata-media-enums.h
/gdata/services/documents/gdata-documents-enums.c
/gdata/services/documents/gdata-documents-enums.h
/gdata/services/picasaweb/gdata-picasaweb-enums.c
/gdata/services/picasaweb/gdata-picasaweb-enums.h
/gdata/services/youtube/gdata-youtube-enums.c
/gdata/services/youtube/gdata-youtube-enums.h
/gdata/tests/Makefile.in
/gnome-doc-utils.make
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/libgdata.pc
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/omf.make
/po/*.gmo
/po/*.mo
/po/.intltool-merge-cache
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/gdata.pot
/po/stamp-it
/so_locations
/stamp-h1
/tags
