*.lo
.libs
/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/authorization
/calendar
/client-login-authorizer
/contacts
/documents
/general
/oauth1-authorizer
/perf
/picasaweb
/so_locations
/streams
/tags
/youtube
_libs
