/*.bak
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.dirstamp
/.gitignore
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/gdata-decl-list.txt
/gdata-decl.txt
/gdata-undeclared.txt
/gdata-undocumented.txt
/gdata-unused.txt
/gdata.args
/gdata.hierarchy
/gdata.interfaces
/gdata.prerequisites
/gdata.signals
/gdata.types
/html
/html-build.stamp
/html.stamp
/pdf-build.stamp
/pdf.stamp
/scan-build.stamp
/setup-build.stamp
/sgml-build.stamp
/sgml.stamp
/so_locations
/tags
/tmpl/*.bak
/tmpl/gdata-unused.sgml
/version.xml
/xml
